
<nav class="navbar navbar-expand-md navbar-light sticky-top bg-white shadow sticky-nav">
    <div class="container-fluid">
      <div class="d-flex w-sm-250 px-md-200 px-3"> 
        <div>
            <a class="navbar-brand" routerLink="/home"><img src="../../../assets/tayaretna.png" alt="Best Tunisia Travel" title="Best Tunisia Travel" class="img-fluid" margin="1%" padding="1%" width="100px" height="100px" style="transform:scale(2.7)"></a>
        </div>
    </div>
    <div class="d-flex w-sm-250 px-md-200 px-3"> 
        <div>
            <h1>Best Tunisia Travel</h1>
        </div>
    </div>
    <div class="collapse navbar-collapse principal-navbar animate__animated animate__backInLeft" id="navbarCollapse">
          <ul class="navbar navbar-nav ms-auto mb-2 mb-md-0">      
              <li class="nav-item"><a class="nav-link ico-5" routerLink="/listeVoyages">Voyage a l'etranger</a></li>
              <li class="nav-item"><a class="nav-link ico-5" routerLink="/omra">Omra</a></li>
              <li class="nav-item"><a class="nav-link ico-5" routerLink="/home" >Savoir plus</a></li>
      <li class="nav-item"><a class="nav-link phone-number"> <img src="../../assets/phone.jpg" width="50" height="50" alt="phone BestTunisiaTravel" title="phone BestTunisiaTravel" class="img-fluid me-2">70.103.103</a></li>
      <button class="btn btn-light c1" mat-button (click)="openDialog()">Se connecter</button>

    </ul>
    </div> <!-- navbar-collapse.// -->
  </div><!-- container //  -->
</nav>
<div class="sm">
    <div class="st-btn" data-network="facebook">
      <a target="_blank" href="https://www.facebook.com" rel="nofollow">
        <img src="../../assets/fb.jpg" width="50" height="50" alt="facebook" title="facebook" class="img-fluid">
      </a>
    </div>
    <div class="st-btn st-first" data-network="twitter">
      <a target="_blank" href="https://twitter.com" rel="nofollow">
      <img src="../../assets/twitter.jpg" width="50" height="50" alt="twitter" title="twitter" class="img-fluid">
      </a>
    </div>
    <div class="st-btn" data-network="instagram">
      <a target="_blank" href="https://www.instagram.com" rel="nofollow">
       <img src="../../assets/insta.jpg" width="50" height="50" alt="instagram" title="instagram" class="img-fluid">
      </a>
    </div>
  </div>
  