
<!-- Rechercher-->
<h1 style="text-align:center;color:#330867">Trouvez votre destination</h1>
<div class="container" style="left: 40%;background-image: url(../../assets/vol.jpg);height:400px;background-repeat: no-repeat;">
<div class="col-md-12 align-self-center" style="position: absolute;bottom: 10%;width:73%;">
<div class="bg-dark text-white p-2" height="250px" style="opacity: 0.5;">
<form  [formGroup]="voyageForm" (ngSubmit)="onSubmit()"  style="position:relative;left: 40%;opacity: 1.0;">
    <mat-slide-toggle color="accent" formControlName="datec">Date</mat-slide-toggle><br>
    <input type="date" style="height:50px;opacity: 1;" formControlName="datedep" [hidden]="!datec()">
    <input type="date" style="height:50px" formControlName="datedarr" [hidden]="!datec()"><br>
    <mat-slide-toggle color="accent" formControlName="paysc">pays</mat-slide-toggle><br>
    <!-- <mat-autocomplete [hidden]="!paysc()">
        <mat-option *ngFor="let option of filteredOptions | async" formControlName="pays" [value]="option" [hidden]="!paysc()">
          {{option}}
        </mat-option>
      </mat-autocomplete> -->
    <input type="text" name="p" style="height:50px" formControlName="pays" [hidden]="!paysc()"><br>
    <input type="submit" value="Rechercher" class="btn btn-primary">
</form>
</div>
</div>
</div><br>
<p class="text-center " style="color:#330867;font-size:30px;padding: 15px;margin:15px;">Nos meilleurs destinations </p><p class="text-muted text-center fs-6">Réservez maintenant votre vol en temps réel</p>
<!-- <div class="card" *ngFor="let v of ListeVoyages">
    <div class="card-title"><h1 style="padding:0;margin:0;font-size: 40px;">{{v.lib}}</h1><br>
        <h5 style="font-size:25px;padding: 15px;margin:15px;" [ngClass]="{'promo':v.promo!=0}"><i class="fas fa-coins"></i>{{v.prix}}</h5></div>
    <div class="card-body">
        {{v.photo}}
        </div>
        <div class="card-footer">
    <button class="btn btn-warning" [routerLink]="['/listeVoyages',v.id]">Details</button>
</div>
</div> -->
<div class="row">
    <div class="col-sm-5" *ngFor="let v of ListeVoyages">
      <div class="card">
            <div class="example-button-container promo" style="position: absolute;left: 85%;top:75%">
                <button *ngIf="v.promo!=0" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                  -{{v.promo}}%
                </button>
              </div>
            <div class="card-body">
                <img [src]="v.photo" width="500px">
            </div>
            <div class="card-title">
            <h1 style="font-size: 30px;margin:0;padding: 0;">{{v.lib}}</h1><br>
            </div>
            <div class="card-footer" height="50px">
                <h5 style="font-size:25px;float:left"><i class="fas fa-coins"></i>{{v.prix}}</h5>
        <button class="btn btn-warning" style="position:absolute;left:80%" [routerLink]="['/listeVoyages',v.id]">Details</button>
      </div>
    </div>
    </div>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="push" style="width:80%">
        <mat-stepper orientation="vertical" linear="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Votre nom</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Donnez votre nom et prénom" formControlName="firstCtrl">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Adresse E-mail</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Addresse</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Foulen@gmail.com">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Type de problèmes ou Renseignements</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Problème ou Renseignement</mat-label>
                        <mat-select>
                            <mat-option>

                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Commentaire</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Votre commentaire</mat-label>
                        <textarea matInput formControlName="fourthCtrl"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>

                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                    <button mat-button (click)="ajoutCom()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-drawer>
    <mat-drawer-content style="left:50%">
      <p color="#330867"> Avez vous un problème ? <button class="btn btn-primary"  (click)="drawer.toggle()">Signaler</button></p>
    </mat-drawer-content>
</mat-drawer-container>

