<app-menu-admin></app-menu-admin>
<form class="c">
    <fieldset>
        <legend>Formulaire de modification du voyage</legend>
        <form [formGroup]="modifForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>ID</mat-label>
                <input matInput type="number" formControlName="id" [value]="voy.id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Pays</mat-label>
                <input matInput type="text" formControlName="pays">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Libellé</mat-label>
                <input matInput type="text" formControlName="lib">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Prix</mat-label>
                <input matInput type="number" formControlName="prix">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Promo</mat-label>
                <input matInput type="number" formControlName="promo">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Date de départ</mat-label>
                <input matInput type="text" formControlName="date_dep">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Date d'arrivée</mat-label>
                <input matInput type="text" formControlName="date_arr">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" style="width:100%">
                <mat-label>Détail</mat-label>
                <textarea matInput formControlName="detail"></textarea>
            </mat-form-field>
            <br>
            <div *ngFor="let v of voy.photo; let i=index" style="display:inline-block;margin:1%" formArrayName="photo">
                <mat-form-field appearance="fill" style="margin: 1%;">
                    <mat-label>Photo N°{{i+1}}</mat-label>
                    <input matInput type="text" name="img" [value]="v" [formControlName]="i">
                    <button class="btn btn-dark" (click)="supprimerPhoto(i)"
                        style="position:absolute;left:20%;margin: 1%;top:100%;">supprimer</button>
                </mat-form-field>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary" style="position:absolute;top:105%;left:38%">Modifier le
                voyage</button>
        </form>
        <form [formGroup]="photosForm">
            <div formArrayName="photos">
                <div *ngFor="let p of photos.controls; let i=index">
                    <mat-form-field appearance="fill">
                        <mat-label>Image num {{i+1}}</mat-label>
                        <input matInput type="text" [formControlName]="i" />
                        <button (click)="delInput(i)" class="btn btn-dark" style="position:absolute;left:110%;bottom:15%">supprimer</button>
                    </mat-form-field>

                </div>
                <br><br>
                <button type="button" (click)="onAjouterImages()" class="btn btn-secondary"
                    style="position:absolute;top: 95%;left:38%">
                    Ajouter des images
                </button>
            </div>
        </form>
    </fieldset>
</form>
<br><br>