<html   dir="rtl" lang="ar">
    <body>
مع Best Tunisia Travel نوفرولك أفضل خدمات العمرة على الإطلاق في تونس: <br>

<br>– خطوط جوية مريحة
<br>– طاقم طبي
<br>– مشرفين ثقات لأداء مناسك الحج والعمرة
<br>– سكن راقي وقريب من الحرمين الشريفين

 

مع Best Tunisia Travel عمرتك في ضمان وأمان
<img style="width: 60%;height: 60%;" src="../../assets/omra.jpg"><br>
<span lang="en">: Pour plus d’informations, merci de nous contacter sur</span>
<div class="row" width="50%">
  <div class="col" style="text-align:center">
    <a target="_blank" href="https://www.facebook.com" rel="nofollow">
      <img src="../../assets/fb.jpg" width="70" height="90" alt="facebook" title="facebook" class="img-fluid" style="border-radius: 25px;">
    </a><br>Facebook
  </div>
  <div class="col" style="text-align:center">
    <a target="_blank" href="https://twitter.com" rel="nofollow">
    <img src="../../assets/twitter.jpg" width="70" height="90" alt="twitter" title="twitter" class="img-fluid" style="border-radius: 25px;">
    </a><br>Twitter
  </div>
  <div class="col" style="text-align:center">
    <a target="_blank" href="https://www.instagram.com" rel="nofollow">
     <img src="../../assets/insta.jpg" width="70" height="90" alt="instagram" title="instagram" class="img-fluid" style="border-radius: 25px;">
    </a><br>Instagram
  </div>
</div> 
</body>
</html>