<app-menu-admin></app-menu-admin>
<div>
<form [formGroup]="ajoutForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Formulaire d'ajout de voyage</legend>
<mat-form-field appearance="fill">
    <mat-label>Pays</mat-label>
    <input matInput formControlName="pays">
  </mat-form-field>
  <div [hidden]="!isValidPays()" class="alert alert-danger">Premiere lettre de chaque mot doit etre majuscule</div>
  <mat-form-field appearance="fill">
    <mat-label>Libelle</mat-label>
    <input matInput formControlName="lib">
  </mat-form-field>
  <div [hidden]="!isValidLib()" class="alert alert-danger">Premiere lettre de chaque mot doit etre majuscule</div>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Prix</mat-label>
    <input matInput formControlName="prix">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Promo</mat-label>
    <input matInput formControlName="promo">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Date Depart</mat-label>
    <input matInput type="date" formControlName="date_dep">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date Arrivee</mat-label>
    <input matInput type="date" formControlName="date_arr">
  </mat-form-field>
  <br>
  <mat-form-field class="c1" appearance="fill">
    <mat-label>Details</mat-label>
    <textarea matInput formControlName="detail"></textarea>
  </mat-form-field><br>
    <button class="btn btn-dark" type="button"(click)="onAjouterImages()">Cliquer pour ajouter une image</button>
      <div formArrayName="photo">
        <div *ngFor="let p of photo.controls; let i=index">
            <mat-form-field appearance="fill">
                <mat-label>Choix {{i+1}} </mat-label>
                <input matInput [formControlName]="i">
                <button class="btn btn-secondary" (click)="delInput(i)" style="position:absolute;left:110%;margin: 1%;top:-10%;">supprimer</button>
              </mat-form-field>
            </div>
        </div>

<button class="btn btn-info" style="margin: 2%;" type="submit" [disabled]="ajoutForm.invalid">Ajouter le Voyage</button>
</fieldset>
</form>

<br><br>
<button class="btn btn-dark" [routerLink]="['/homeAdmin']">Retour</button>
</div>