<h1>Nos 6 Garanties</h1>
    <div class="container">
    <div class="row grid-row">
    <div class="col-sm-4">
    <div class="position-icon-raison"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon-tarif.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison ">Des Tarifs bien étudiés</p>
    </div>
    
    <div class="col-sm-4">
    <div class="position-icon-raison"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon-team.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison">Une équipe qualifiée<br>
    et à votre écoute (24H/7/7)</p>
    </div>
    
    <div class="col-sm-4">
    <div class="position-icon-raison"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon_word.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison">une expérience et une grande<br>
    connaissance du monde</p>
    </div>
    
    <div class="col-sm-6">
    <div class="position-icon-raison " style="position:relative;left:30%" ><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon-raison-passport.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison " style="position:relative;left:30%">assistance et suivi&nbsp;rigoureux<br>
    de vos réservations</p>
    </div>
    
    <div class="col-sm-6">
    <div class="position-icon-raison raison_right"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/voyage.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison raison_right">Une proximité des clients :<br>plusieurs points de vente sur tout le territoire tunisien<br>
    </p>
    </div>
    </div>
</div> 
<br>
<h2 style="color:#330867">Contactez nous sur: </h2>
<!-- <hr background-color="orangered" style="height:2%"> -->
<!-- <div  class="row" padding="2%">
  <div class="col-sm-4" style="text-align:center">
    <a target="_blank" href="https://www.facebook.com" rel="nofollow">
      <img src="../../assets/fb.jpg" width="50" height="50" alt="facebook" title="facebook" class="img-fluid">
    </a><br>Facebook
  </div>
  <div class="col-sm-4" style="text-align:center">
    <a target="_blank" href="https://twitter.com" rel="nofollow">
    <img src="../../assets/twitter.jpg" width="50" height="50" alt="twitter" title="twitter" class="img-fluid">
    </a><br>Twitter
  </div>
  <div class="col-sm-4" style="text-align:center">
    <a target="_blank" href="https://www.instagram.com" rel="nofollow">
     <img src="../../assets/insta.jpg" width="50" height="50" alt="instagram" title="instagram" class="img-fluid">
    </a><br>Instagram
  </div>
</div> -->
<div  class="row" padding="2%">
  <div class="col-sm-4" style="text-align:center">
    <a target="_blank" href="https://www.facebook.com" rel="nofollow">
      <img src="../../assets/fb.jpg" width="90" height="90" alt="facebook" title="facebook" class="img-fluid" style="border-radius: 25px;">
    </a><br>Facebook
  </div>
  <div class="col-sm-4" style="text-align:center">
    <a target="_blank" href="https://twitter.com" rel="nofollow">
    <img src="../../assets/twitter.jpg" width="90" height="90" alt="twitter" title="twitter" class="img-fluid" style="border-radius: 25px;">
    </a><br>Twitter
  </div>
  <div class="col-sm-4" style="text-align:center">
    <a target="_blank" href="https://www.instagram.com" rel="nofollow">
     <img src="../../assets/insta.jpg" width="90" height="90" alt="instagram" title="instagram" class="img-fluid" style="border-radius: 25px;">
    </a><br>Instagram
  </div>
</div>