<app-menu></app-menu>
<h1>Presentation</h1>
<h2>Best Tunisia Travel, votre Agence de Voyage en Tunisie en Ligne vous propose des Promotions sur vos Voyages dans le Monde avec les Meilleurs Prix et Services.</h2>
<h1>Nos 6 Garanties</h1>
    <div class="container">
    <div class="row grid-row">
    <div class="col-sm-4">
    <div class="position-icon-raison"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon-tarif.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison ">Des Tarifs bien étudiés</p>
    </div>
    
    <div class="col-sm-4">
    <div class="position-icon-raison"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon-team.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison">Une équipe qualifiée<br>
    et à votre écoute (24H/7/7)</p>
    </div>
    
    <div class="col-sm-4">
    <div class="position-icon-raison"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon_word.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison">une expérience et une grande<br>
    connaissance du monde</p>
    </div>
    
    <div class="col-sm-6">
    <div class="position-icon-raison " style="position:relative;left:30%" ><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/icon-raison-passport.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison " style="position:relative;left:30%">assistance et suivi&nbsp;rigoureux<br>
    de vos réservations</p>
    </div>
    
    <div class="col-sm-6">
    <div class="position-icon-raison raison_right"><img src="https://www.visionvoyages.com.tn/file_manager/source/Raisons/voyage.png" class=" ls-is-cached lazyloaded"></div>
    
    <p class="text-bonne-raison raison_right">Une proximité des clients :<br>plusieurs points de vente sur tout le territoire tunisien<br>
    </p>
    </div>
    </div>
</div> 
<br>
<app-footer></app-footer>