<app-menu></app-menu>
  <br>
  <h1>{{Voyage.pays}}, {{Voyage.lib}}</h1>
  <h3 style="font-size:150%;color:deepskyblue">Periode :<br>
    du: {{Voyage.date_dep| date :'dd-MM-YYYY'}} au: {{Voyage.date_arr| date :'dd-MM-YYYY'}}<br>
  </h3>
  <h2 color="gray">prix: {{promo()}}</h2>
  <span class="promo"  *ngIf="Voyage.promo!=0">En promotion: {{Voyage.promo|voyagePipe}}</span>
  <div class="container">
  <mdb-carousel [controls]="true" [indicators]="true">
    <mdb-carousel-item *ngFor="let pho of Voyage.photo">
      <img [src]="pho" class="d-block w-100"/>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div class="container" style="font-size: 150%;padding:1%;margin:1%;">
  <h3 style="font-size:200%;color:#330867">{{Voyage.lib}} informations: </h3>
  {{Voyage.detail}}
</div>
<app-footer></app-footer>