<div  class="row" padding="2%">
    <div class="col-sm-4" style="text-align:center">
      <a target="_blank" href="https://www.facebook.com" rel="nofollow">
        <img src="../../assets/fb.jpg" width="90" height="90" alt="facebook" title="facebook" class="img-fluid" style="border-radius: 25px;">
      </a><br>Facebook
    </div>
    <div class="col-sm-4" style="text-align:center">
      <a target="_blank" href="https://twitter.com" rel="nofollow">
      <img src="../../assets/twitter.jpg" width="90" height="90" alt="twitter" title="twitter" class="img-fluid" style="border-radius: 25px;">
      </a><br>Twitter
    </div>
    <div class="col-sm-4" style="text-align:center">
      <a target="_blank" href="https://www.instagram.com" rel="nofollow">
       <img src="../../assets/insta.jpg" width="90" height="90" alt="instagram" title="instagram" class="img-fluid" style="border-radius: 25px;">
      </a><br>Instagram
    </div>
  </div>
