<button style="position:relative;top:30%" [routerLink]="['/ajouterVoyage']">Ajouter un voyage</button>

<table class="table table-striped">
    <thead class="thead thead-dark">
      <tr>
        <th>#</th>
        <th>Pays</th>
        <th>Libelle</th>
        <th>Prix</th>
        <th>Promo</th>
        <th>Date de depart</th>
        <th>Date d'arrivée</th>
        <th colspan="2" style="text-align: center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of listeVoyage">
        <th>{{l.id}}</th>
        <td>{{l.pays}}</td>
        <td>{{l.lib}}</td>
        <td>{{l.prix}}</td>
        <td>{{l.promo}}</td>
        <td>{{l.date_dep |date : 'dd/MM/YYYY'}}</td>
        <td>{{l.date_arr |date : 'dd/MM/YYYY'}}</td>
        <td><button class="btn btn-warning" [routerLink]="['/modifierVoyage',l.id]">Modifier</button></td>
        <td><button (click)="suppVoy(l.id)" class="btn btn-danger">Supprimer</button></td>
      </tr>
    </tbody>
  </table>